-
  var mainMenu = [
    {
      "id": "0",
      "name": "Home",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Portfolio",
      "url": "/portfolio",
      "childs": [
        {
          "id": "10-0",
          "name": "Portfolio-1",
          "url": "portfolio/portfolio-1"
        },
        {
          "id": "10-10",
          "name": "Portfolio-2",
          "url": "portfolio/portfolio-2",
          //- "childs": [
          //-   {
          //-     "id": "10-10-0",
          //-     "name": "Вёрстка",
          //-     "url": "pages/services/serve"
          //-   },
          //-   {
          //-     "id": "10-10-10",
          //-     "name": "Стриптиз",
          //-     "url": "pages/services/strip"
          //-   }
          //- ]
        },
        {
          "id": "10-20",
          "name": "Portfolio-3",
          "url": "portfolio/portfolio-3"
        },
      ]
    },
    {
      "id": "20",
      "name": "Blog",
      "url": "/blog",
      "childs": [
        {
          "id": "20-0",
          "name": "Blog-1",
          "url": "blog/blog-1"
        },
      ]
    },
    {
      "id": "30",
      "name": "Pages",
      "url": "/pages",
      "childs": [
        {
          "id": "30-0",
          "name": "Service",
          "url": "service/service"
        },
        {
          "id": "30-10",
          "name": "FAQ",
          "url": "FAQ/FAQ"
        },
        {
          "id": "30-20",
          "name": "About",
          "url": "about/about"
        },
      ]
    },
    {
      "id": "30",
      "name": "Shop",
      "url": "/shop",
      "childs": [
        {
          "id": "40-0",
          "name": "Shop-1",
          "url": "shop/shop-1"
        },
      ]
    },
    {
      "id": "30",
      "name": "Components",
      "url": "/components",
      "childs": [
        {
          "id": "50-0",
          "name": "Components-1",
          "url": "components/components-1"
        },
        {
          "id": "50-10",
          "name": "Components-2",
          "url": "components/components-2"
        },
        {
          "id": "50-20",
          "name": "Components-3",
          "url": "components/components-3"
        },
      ]
    },
    {
      "id": "30",
      "name": "Features",
      "url": "/features",
      "childs": [
        {
          "id": "60-0",
          "name": "Features-1",
          "url": "features/features-1"
        },
        {
          "id": "60-10",
          "name": "Features-2",
          "url": "features/features-2"
        },
        {
          "id": "60-20",
          "name": "Features-3",
          "url": "features/features-3"
        },
        {
          "id": "60-30",
          "name": "Features-4",
          "url": "features/features-4"
        },
      ]
    },
  ];
