// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  // первый уровень
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        max-height: 0;

        overflow: hidden;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;

      &--lvl-2 {
        display: block;
      }

      &--lvl-3 {
        display: block;
      }
    }
  }

  &__item {
    position: relative;

    &--active {

      & > #{$block-name}__link { // stylelint-disable-line  selector-combinator-blacklist
        // color: #000;

        @media (min-width: $menu-desktop-width) {
          border-bottom: 4px solid $red;
        }
      }
    }

    &--has-child {

      & > #{$block-name}__link {
        // background-color: #ddd;

        &::after {
          @include size (1.5em);
          content: '';

          display: inline-block;
          vertical-align: top; // looks more center then "middle"

          line-height: inherit;

          background-image: url('/img/baseline-keyboard_arrow_down-24px.svg');
          background-size: 100%;
          margin-left: 0.5em;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 25px 1em 21px; // 21px bottom bc of 4px border

    color: inherit;
    text-decoration: none;

    &--lvl-2 {
      min-width: 200px;

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 1.2em;
      }
    }

    &--lvl-3 {
      min-width: 200px;

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2.4em;
      }
    }

    // background-color: #fff;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;

      // background-color: $gray-lightest;
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (max-width: $menu-desktop-width - 1) {
        padding-left: 2em;
      }

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;

        height: 0;
        opacity: 0;

        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          height: auto;

          overflow: visible;
          opacity: 1;
        }
        // stylelint-enable
      }
    }

    &--lvl-3 {

      @media (max-width: $menu-desktop-width - 1) {
        padding-left: 2em;
      }

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;

        height: 0;

        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable
        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          height: auto;

          overflow: visible;
          opacity: 1;
        }
        // stylelint-enable
      }
    }
  }



  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;

    border: none;
    background: none;

    @media (min-width: $menu-desktop-width) {
      display: none;
    }

    .no-js & {
      display: none;
    }
  }

  $block-name:                &; // #{$block-name}__element
}
