// В этом файле должны быть стили для БЭМ-блока main-sub-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-sub-nav {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  // align-self: center;

  list-style-type: none;

  .icon {
    width: 22px;
    height: 20px;
  }

  &__item {

    @include bp-max (1200) {

      &:not(#{$block-name}__item--cart) {
        display: none;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid lighten($gray, 62%); // rgba(#b4b4b4, 0.38)
    }
  }

  &__link {

    @include unfont ();
    position: relative;
    // @include size (20px);

    display: flex;
    padding: 5px 14px;

    color: inherit;
    text-decoration: none;

    // background-color: #333333;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }

    // cart tooltip start
    #{$block-name}__item--cart & {

      &:not([data-tooltip=''])::after {
        @include round (24px);

        content: attr(data-tooltip);
        position: absolute;
        top: -0.75em;
        right: -0.5em;
        z-index: -1;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 13px; // 14 in design
        color: $white;

        background-color: $red;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.7px;
        box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
      }
    }
    // cart tooltip end
  }
}
