// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  @include bp-max (1200 - 1) {
    background-color: $color-main;
  }
  z-index: $z-index-header;

  font-family: $font-family--heading;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;

  .main-nav {

    @include bp (1200) {
      grid-column: unset;
      grid-row: unset;
    }
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: start;

    &__toggler {
      order: -1;
    }
  }

  .logo {

    @include bp-max (1200 - 1) {
      justify-self: center;
    }
  }

  .main-sub-nav {

    @include bp-max (1200 - 1) {
      justify-self: end;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {

    &--login {
      display: grid;
      align-items: center;

      font-size: 16px;
      grid-template-columns: 1fr max-content max-content;

      @include bp (1200) {
        @include break-out--before (darken($gray, 3%)); //#191919
      }
    }

    &--nav {
      display: grid;
      align-items: start;
      grid-template-columns: repeat(3, minmax(max-content, 1fr));

      @include bp-max (1200 - 1) {
        padding-top: 26px;
        padding-bottom: 26px;
      }

      @include bp (1200) {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(3, auto);
      }
    }
  }
}
