// В этом файле должны быть стили для БЭМ-блока hero, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hero {

  $block-name:                &; // #{$block-name}__element

  // min-height: 100vh;
  margin-top: -68px; // putting block under header half

  color: $white;

  background-image: linear-gradient(to bottom, #666, rgba(#fff, 0.001));

  .swipe__item {
    min-height: 100vh;
    padding-top: calc(15vh + 68px);
    padding-bottom: 68px;

    background-repeat: no-repeat;

    background-size: cover;

    &::after {

      @include size (100%);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      background-color: rgba($gray, 0.87);
    }
  }

  .promo {
    position: relative;
    z-index: 2;
  }

  @include bp-max (1200 - 1) {
    display: none;
  }
}
