extends ../pug/layout.pug

block meta
  title Pasco — main page
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()
    +e.wrapper--login
      +b.UL.social-panel
        +e.LI.item
          +e.A.link(href='', title='Facebook') Facebook
            +icon('fb', '16', '16')
        +e.LI.item
          +e.A.link(href='', title='Twitter') Twitter
            +icon('tw', '16', '16')
        +e.LI.item
          +e.A.link(href='', title='Pinterest') Pinterest
            +icon('pn', '16', '16')
        +e.LI.item
          +e.A.link(href='', title='Vkontakte') Vkontakte
            +icon('vk', '16', '16')
        +e.LI.item
          +e.A.link(href='', title='Google+') Google+
            +icon('gl', '16', '16')
        +e.LI.item
          +e.A.link(href='', title='Behance') Behance
            +icon('be', '16', '16')
        +e.LI.item
          +e.A.link(href='', title='Instagram') Instagram
            +icon('ig', '16', '16')

      +b.UL.user-panel
        +e.LI.item--login
          +e.A.link(href='', title='Sign In') Sign In

      +b.UL.lang-panel
        +e.LI.item--en
          +e.A.link(href='', title='Enlish') Eng

    +e.wrapper--nav
      +logo('/')
        img(src='img/logo.png', alt='Pasco logo', width='91', height='18')
      +main-nav('0')
      +b.UL.main-sub-nav
        +e.LI.item--search
          +e.A.link(href='', title='Search') Search
            +icon('search', '18', '18')
        +e.LI.item--vaforite
          +e.A.link(href='', title='Vaforite') Vaforite
            +icon('fav', '20', '19')
        +e.LI.item--cart
          +e.A.link(href='', data-tooltip='7', title='Cart') Cart
            +icon('cart', '20', '20')

block content
  +hero()
    +b.swipe.__swipe#hero-slider
      +e.UL.wrapper
          +e.LI.item(style='background-image: url(//source.unsplash.com/2000x1500);')
            +promo('Pure CSS grid approach', 'inspiration')

              +caption('Dennis Lypovetsky', 'https://avatars1.githubusercontent.com/u/24877432?s=460&v=4', 'April 28, 2016', '10:15', '2016-04-28', 'caption--promo')

                +b.comments-counter--hero.__comments-counter
                  +e.A.link--comments(href='', data-comments-count='28') Comments
                  +e.A.link--likes(href='', data-likes-count='07') Likes

          +e.LI.item(style='background-image: url(//source.unsplash.com/2000x1501);')
            +promo('5 Ways milllennials can start building their future today', 'inspiration', 'art')

              +caption('Lia Hiu', 'img/44.jpg', 'April 28, 2016', '12:15', '2016-04-28', 'caption--promo')

                +b.comments-counter--hero.__comments-counter
                  +e.A.link--comments(href='', data-comments-count='58') Comments
                  +e.A.link--likes(href='', data-likes-count='27') Likes

          +e.LI.item(style='background-image: url(//source.unsplash.com/2000x1502);')
            +promo('Not today', 'javascript')

              +caption('Isaac Heart', 'img/photo-1504904488824-dbeda3cb530b.jpg', 'May 5, 2017', '23:15', '2017-05-05', 'caption--promo')

                +b.comments-counter--hero.__comments-counter
                  +e.A.link--comments(href='', data-comments-count='1') Comments
                  +e.A.link--likes(href='', data-likes-count='') Likes

      +e.BUTTON.button--left(onclick='mySwipe.prev()', title='Left') Left
      +e.BUTTON.button--right(onclick='mySwipe.next()', title='Right') Right

  +b.SECTION.blog
    +e.inner.inner
      +b.HEADER.heading.visually-hidden
        +e.H2.title Blog feed
      +b.filter.__filter
        +e.B.title Sort blog:
        +e.UL.list
          +e.LI.item
            +e.BUTTON.button.button--filter.active
              span All
          +e.LI.item
            +e.BUTTON.button.button--filter
              span Photography
          +e.LI.item
            +e.BUTTON.button.button--filter
              span Lifestyle
          +e.LI.item
            +e.BUTTON.button.button--filter
              span Trip
          +e.LI.item
            +e.BUTTON.button.button--filter
              span Inspiration

      +b.feed
        - for (var i = 0; i < 9; i++)
          +b.ARTICLE.card
            +e.FIGURE.img-wrapper
              +e.IMG.img(src='//source.unsplash.com/820x42'+i+'', alt='10 Things To Do To Change Your Life Forever')
              +e.FIGCAPTION.nav
                +b.UL.taglist
                  +e.LI.tag Lifestyle
                +b.comments-counter--card
                  +e.A.link--comments(href='', data-comments-count='28', aria-label='Comments')
                  +e.A.link--likes(href='', data-likes-count='07', aria-label='Likes')

            +b.HEADER.heading
              +e.H3.title 10 Things To Do To Change Your Life Forever
              +e.P.text The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.

            +caption('Henry Little', 'img/rSuiu_Hr.jpg', 'April 28, 2016', '10:15', '2016-04-28', 'caption--card')
              +e.MENU.menu(title='Menu') Menu


block footer
  +page-footer()

//- block append page-bottom
  //- script(src='js/some.js')
