// В этом файле должны быть стили для БЭМ-блока comments-counter, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.comments-counter {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  font-family: $font-family--heading;
  font-size: 12px;
  color: $white;
  letter-spacing: 0.6px;

  &__link {
    @include mg-right (2em);
    @include unlink();
    background-size: 14px;
    background-position: 0;
    padding-left: calc(14px + 0.5em);

    background-repeat: no-repeat;

    &--comments {
      background-image: url(/img/comments.svg);

      &:not([data-comments-count=''])::after {
        content: attr(data-comments-count);
      }
    }

    &--likes {
      background-image: url(/img/likes.svg);

      &:not([data-likes-count=''])::after {
        content: attr(data-likes-count);
      }
    }
  }

  &--hero {

    &::after {
      margin-left: 0.5em;
    }

    #{$block-name}__link {

      &--comments {

        &:not([data-comments-count=''])::after {
          content: '(' + '' attr(data-comments-count) '' + ')';
        }
      }

      &--likes {

        &:not([data-likes-count=''])::after {
          content: '(' + '' attr(data-likes-count) '' + ')';
        }
      }
    }
  }

  &--card {

    #{$block-name}__link {
      position: relative;

      &::before {

        @include size (150%);
        content: '';
        position: absolute;
        top: -25%;
        left: -25%;
      }
    }
  }
}
